
<span style="color:white; margin-left: 2px">
    <a href="/ShoppingCart/ShowCart" style="text-decoration:none;color:white;">
        <img src="~/Content/images/trolley-cart.png" width="30px" />
        Giỏ Hàng
    </a>

</span>

    